@import "../font/font.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "../plugins/slick/slick.css";
@import "../plugins/select/nice-select.css";

/*** BEGIN Reset ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, section, summary, audio, video,
input, textarea, select, button
{
    margin: 0;
    padding: 0;

    vertical-align: baseline;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'FGB', Arial, sans-serif;
}

strong
{
    font-weight: bold;
}

img
{
    max-width: 100%;
    height: auto;

    border: 0;
}

ul
{
    list-style: none;
}

input,
textarea
{
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder
{
    color: #666;
}

input[placeholder],
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder
{
    text-overflow: ellipsis;
}

.clearfix:before,
.clearfix:after
{
    display: table;

    content: '';
}

.clearfix:after
{
    clear: both;
}

.clearboth
{
    clear: both;
}
/*** END Reset ***/


/*** BEGIN Common ***/
.input
{
    font: 14px/30px 'FGB', Arial, sans-serif;

    height: 30px;
    padding: 0 10px;

    color: #4d4d4d;
    border: 1px solid transparent;
    outline: none;
    background: #fdfdfd;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
}

.input-control
{
    display: inline-block;

    cursor: pointer;
}

.input-control .input
{
    height: 30px;
    margin: 0 5px;
    padding: 0 10px;

    vertical-align: middle;

    color: #4d4d4d;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: none;
}

.input-control .material-icons
{
    font-size: 22px;

    margin: 4px 0 0;

    vertical-align: middle;
}

.control-group
{
    display: block;

    box-sizing: border-box;
    min-height: 52px;
    margin: 0 0 20px;
    padding-right: 2px;
}

.control-group .label
{
    display: block;

    margin: 0 0 5px;
}

.control-group .input,
.control-group .select
{
    width: 100%;
}

.btn
{
    font: 14px 'FGB', Arial, sans-serif;

    height: 30px;
    padding: 0 10px;

    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border: 0;
    border-radius: 2px;
    outline: none;
    background: #0c9eaf;
}

.btn-edit
{
    background: #d31478;
}

.link
{
    text-decoration: none;

    color: #5d5d5d;
    outline: none;
}

.link:active
{
    color: #0c9eaf;
}

.link:hover,
.link:focus
{
    color: #d31478;
}
/*** END Common ***/


/*** BEGIN Page ***/
.page
{
    font: 14px 'FGB', Arial, sans-serif;

    color: #000;
    background: #f8f8f8;
}

.page__body
{
    min-width: 1220px;
}

.wrapper
{
    width: 1100px;
    margin: auto;
}

.wrapper:before,
.wrapper:after
{
    display: table;

    content: '';
}

.wrapper:after
{
    clear: both;
}

.header
{
    position: relative;

    height: 70px;
    padding: 15px 60px;

    background: #fff;
}

.header__nav
{
    float: right;

    padding: 12px 0;
}

.header__nav .link
{
    margin: 0 0 0 30px;

    text-transform: uppercase;
}

.logo
{
    display: inline-block;

    width: 57px;
    height: 40px;

    vertical-align: middle;

    background: url(../i/logo.png) no-repeat;
    background-size: 100%;
}

.company
{
    font-size: 30px;

    display: inline-block;

    margin: 2px 0 0 22px;

    vertical-align: middle;
    letter-spacing: 4px;
    text-transform: uppercase;

    color: #0c9eaf;
}

.menu
{
    padding: 0 60px;

    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, .05);
}

.menu__list
{
    width: 1100px;
    margin: auto;
}

.menu__item
{
    display: inline-block;

    margin: 0 30px 0 0;

    vertical-align: top;

    border-bottom: 2px solid transparent;
}

.menu__item:last-child
{
    margin: 0;
}

.menu__item .link
{
    position: relative;

    display: block;

    padding: 15px 0 13px;

    text-transform: uppercase;
}

.menu__item_state_active
{
    border-bottom: 2px solid #0c9eaf;
}

.menu__item_state_active:hover .link
{
    color: #5d5d5d;
}

.content
{
    padding: 30px 0;
}

.section
{
    margin: 0 0 30px;
}

.section_size_2
{
    float: left;

    width: 50%;
}

.section_size_2:nth-child(odd)
{
    padding: 0 0 0 4px;
}

.section_size_2:nth-child(even)
{
    padding: 0 4px 0 0;
}

.title
{
    font-size: 18px;
    font-weight: normal;

    text-transform: uppercase;

    color: #5d5d5d;
}

.section .title
{
    margin: 0 0 15px;
}

.card
{
    padding: 10px;

    transition: box-shadow 150ms linear;

    border: 3px solid #fff;
    background: #fff;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
}

.card:hover .btn
{
    transition: background-color 200ms;

    background: #d31478;
}

.card__title
{
    font-size: 18px;
    font-weight: normal;

    padding: 0 0 10px;

    border-bottom: 1px solid #f0f0f0;
}


.card__title p
{
    float: left;

    margin-right: 5px;
}

.card__userpic__plhldr
{
    float: left;

    width: 70px;
    height: 70px;
    margin: 8px 15px 0 0;

    -webkit-border-radius: 99px;
    -moz-border-radius: 99px;
    border-radius: 99px;
    background: url(../i/pic_plhldr.png) no-repeat;
    background-clip: content-box;
    background-size: contain;
}

.card__userpic
{
    float: left;

    max-width: 100%;
    height: 70px;
    margin: 8px 15px 0 0;

    -webkit-border-radius: 99px;
    -moz-border-radius: 99px;
    border-radius: 99px;
}

.card__description
{
    position: relative;

    min-height: 90px;
    padding: 10px 0 0;
}

.section .card__description
{
    padding: 10px 50px 10px 0;
}

.card__footer
{
    overflow: hidden;

    padding: 10px 0 0;
}

.card__footer .btn
{
    float: right;
}

.sidebar
{
    float: left;

    width: 320px;
    padding: 0 20px 0 0;
}

.profile__header
{
    text-align: center;
}

.profile__photo
{
    width: 80%;
    margin: auto;
}

.profile__photo .img
{
    width: 150px;
    height: 150px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.profile__name
{
    font-size: 18px;
    font-weight: normal;

    padding: 15px 0;
}

.profile__spec
{
    display: inline-block;

    padding: 0 0 15px;

    color: #5d5d5d;
    border-bottom: 1px solid #ddd;
}

.profile__price
{
    font-size: 18px;

    padding: 15px 0;
}

.profile__body
{
    padding: 15px 0 0;
}

.profile__section
{
    padding: 15px 0;

    border-top: 1px solid #ddd;
}

.profile__info
{
    padding: 15px 0 0;
}

.profile__label
{
    color: #5d5d5d;
}

.tag
{
    display: inline-block;

    margin: 0 2px 5px 0;
    padding: 3px 5px;

    vertical-align: middle;

    color: #5d5d5d;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.main
{
    float: left;

    width: calc(100% - 320px);
}

.main .card
{
    margin: 0 0 20px;
}

.main .card__title .material-icons
{
    font-size: 20px;

    margin: -4px 0 0 10px;

    vertical-align: middle;

    color: #d31478;
}

.service-list__item
{
    padding: 5px 0;
}

.service-list__name
{
    color: #5d5d5d;
}
/* BEGIN Footer */
.footer
{
    padding: 10px 60px;

    color: #5d5d5d;
    border-top: 1px solid #e9e9e8;
}

.copyright
{
    padding: 5px 0 0;

    text-transform: uppercase;
}
/* END Footer */

/* BEGIN Forms */
.form_type_search
{
    float: right;

    width: auto;
    margin: 5px 0;
}

.form_type_search .input
{
    display: none;

    border: 1px solid transparent;
}

.form_type_search .input:focus
{
    border-bottom: 1px solid #0c9eaf;
}

.form_type_registration .control-group
{
    width: 49%;
}

.form_type_registration .control-group:nth-child(odd)
{
    float: left;
}

.form_type_registration .control-group:nth-child(even)
{
    float: right;
}

.form_type_registration .control-group:nth-child(3)
{
    width: 100%;
}
/* END Forms */
/*** END Page ***/


/* BEGIN Icons */
.icon
{
    display: inline-block;

    vertical-align: middle;
}
/* END Icons */

/* BEGIN Slider */
.slider
{
    padding: 0 30px;
}

.section .slider
{
    margin: 0 -33px;
}

.slider__item
{
    height: auto;
    padding: 10px 5px;

    outline: none;
}

.slider .slick-arrow
{
    position: absolute;
    z-index: 1000;
    top: 50%;

    width: 21px;
    height: 63px;
    margin: -32px 0 0;

    cursor: pointer;

    color: transparent;
    border: none;
    background: transparent;
}

.slider .slick-prev
{
    left: 0;

    background: url(../plugins/slick/i/left.png) no-repeat;
}

.slider .slick-next
{
    right: 0;

    background: url(../plugins/slick/i/right.png) no-repeat;
}

.slider .btn
{
    font-size: 12px;
}

.slider .photo
{
    /*width: 250px;*/
    height: 150px;
}

.price
{
    font-size: 16px;

    display: inline-block;

    margin: 5px 0 0;

    text-transform: uppercase;
}

.price:after
{
    content: '\20bd';
}
/* End Slider */
.modal
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, .3);
}

.modal__inner
{
    margin: 100px 50px 50px;
}

.registration
{
    width: 500px;
    margin: auto;
    padding: 15px 20px;
}

.login
{
    width: 350px;
    margin: auto;
    padding: 15px 20px;
}

.login .text,
.registration .text
{
    padding: 10px 0 20px;
}

.form_type_edit
{

}

.textarea
{
    font: 14px/30px 'FGB', Arial, sans-serif;

    width: 100%;
    padding: 0 10px;

    resize: vertical;
    color: #4d4d4d;
    border: 1px solid transparent;
    outline: none;
    background: #fdfdfd;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
}

.form_type_edit .textarea
{
    margin: 0 0 12px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: none;
}

.form_type_edit .control-group
{

}

.form_type_edit .input,
.form_type_edit .select
{
    float: none;
    display: inline-block;
    width: auto;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: none;
}

.form_type_edit .service-group
{
    min-height: 0;
    margin: 0 0 10px;
}

.form_type_edit .service-group .input:first-child
{
    width: 30%;
}

.form_type_edit .service-group .input
{
    width: 100px;
}

.form_type_edit .service-group .btn-del
{
    vertical-align: middle;
    margin: -3px 0 0;
    color: #d31478;
    cursor: pointer;
}

.btn-add,
.btn-add .material-icons
{
    color: #0c9eaf !important;
    background: none !important;
}

.card__title .btn-add .material-icons
{
    color: #0c9eaf !important;
}